* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

}

@media only screen and (min-width: 768px) {
    .header {
        background-color: grey;
        height: 15rem;
        width: 100%;
        margin-bottom: 10px;
    }

    .sub-box-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        width: 100%;
    }

    .two-boxes {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
    }

    .one-box {
        width: 40%;
        height: 100%;
    }

    .a {
        background-color: red;
        width: 100%;
        height: 100%;
    }

    .b {
        background-color: orange;
        width: 100%;
        height: 100%;
    }

    .c {
        background-color: yellow;
        width: 100%;
        height: 100%;
    }

    .vfooter {
        background-color: grey;
        height: 15rem;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .header {
        background-color: grey;
        height: 15rem;
        width: 100%;
        margin-bottom: 10px;
    }

    .sub-box-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        width: 100%;
    }

    .two-boxes {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }

    .one-box {
        width: 50%;
        height: 100%;
    }

    .a {
        background-color: red;
        width: 100%;
        height: 100%;
    }

    .b {
        background-color: orange;
        width: 100%;
        height: 100%;
    }

    .c {
        background-color: yellow;
        width: 100%;
        height: 100%;
    }

    .vfooter {
        background-color: grey;
        height: 15rem;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .header {
        background-color: grey;
        height: 15rem;
        width: 100%;
        margin-bottom: 10px;
    }

    .sub-box-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .two-boxes {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 66%;
    }

    .one-box {
        width: 100%;
        height: 33%;
    }

    .a {
        background-color: red;
        width: 100%;
        height: 100%;
    }

    .b {
        background-color: orange;
        width: 100%;
        height: 100%;
    }

    .c {
        background-color: yellow;
        width: 100%;
        height: 100%;
    }

    .vfooter {
        background-color: grey;
        height: 15rem;
        margin-top: 10px;
    }
}