* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .header {
        background-color: grey;
        height: 15rem;
        width: 100%;
        margin-bottom: 10px;
    }

    .sub-box-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .one-box {
        width: 100%;
        height: 60%;
    }

    .two-boxes {
        display: flex;
        width: 100%;
        height: 40%;
    }

    .a {
        background-color: #90EE90;
        width: 100%;
        height: 100%;
    }

    .b {
        background-color: green;
        width: 100%;
        height: 100%;
    }

    .c {
        background-color: yellow;
        width: 100%;
        height: 100%;
    }

    .vfooter {
        background-color: grey;
        height: 15rem;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        background-color: grey;
        height: 15rem;
        width: 100%;
        margin-bottom: 10px;
    }

    .sub-box-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }

    .one-box {
        width: 25%;
        height: 100%;
    }

    .two-boxes {
        display: flex;
        width: 75%;
        height: 100%;
    }

    .a {
        background-color: green;
        width: 100%;
        height: 100%;
    }

    .b {
        background-color: #90EE90;
        width: 130%;
        height: 100%;
    }

    .c {
        background-color: yellow;
        width: 70%;
        height: 100%;
    }

    .vfooter {
        background-color: grey;
        height: 15rem;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .header {
        background-color: grey;
        height: 15rem;
        width: 100%;
        margin-bottom: 10px;
    }

    .sub-box-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .one-box {
        width: 100%;
        height: 50%;
    }

    .two-boxes {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }

    .a {
        background-color: green;
        width: 100%;
        height: 100%;
    }

    .b {
        background-color: #90EE90;
        width: 100%;
        height: 50%;
    }

    .c {
        background-color: yellow;
        width: 100%;
        height: 50%;
    }

    .vfooter {
        background-color: grey;
        height: 15rem;
        margin-top: 10px;
    }
}